@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

.header_sec {
    background: rgba(255, 144, 14, 0.10);
}

.nav_sec {
    display: flex;
    justify-content: space-around;
}

.nav_title {

    color: #131313;
    text-align: center;
    font-size: 45px;
    font-weight: 700;

}

.nav_list>li {
    list-style: none;
    margin-right: 50px;
    color: #424242;
    text-align: center;
    font-size: 18px;
}

.nav_list {
    display: flex;
    align-items: center;
}

/*2nd section*/
.title_section {
    width: 855px;
    height: 200;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

.head_title {
    color: #131313;
    text-align: center;
    font-size: 64px;
    font-weight: 700;
    margin-bottom: 10px;

}

.head_dres {
    margin-top: 0px;
    color: #727272;
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}

.head_button {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    background: #FF900E;
    width: 150px;
    height: 50px;
    border: none;
    margin-top: 10px;
}

/*banner*/
.head_banner {
    width: 1400px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 50px;
}

/*section 2*/
.four_pic {
    display: grid;
    grid-template-columns: 350px 350px;
    gap: 25px 18px;

}

.head_dres2 {
    text-align: left;
}

.second_sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 120px;
}

.pic_side_dis {
    width: 530px;
    margin-left: 80px;
}

#style1 {
    color: #727272;
    font-size: 45px;
    font-weight: 500;
}

#style2 {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

#style3 {
    color: #FF900E;
    font-size: 45px;
    font-weight: 700;
}

/*section 2*/
.sec_2_title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
    padding-left: 20px;
}

.border_color {

    border-left: 5px #FF900E solid;
    width: 470px;
    margin-bottom: 0px;
}

.title_div1 {
    width: 586px;
}

.sec2_four_title {
    color: #131313;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.four {
    width: 520px;
    margin-top: 0px;
    line-height: 25px;
}

.sec_2_four_div {
    width: 580px;
    height: 170px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 15px;

}

.dis_div {
    margin-top: 30px;
}

.section_2 {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-left: 350px;
}

#pic_button {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    font-weight: 700;
    width: 340px;
    height: 200px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    position: relative;
    right: 800px;
    bottom: 35px;
    padding: 35px;


}

#Experience {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    position: relative;
    bottom: 30px;
}

/*Section 3*/
.section_3 {
    width: 1500px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
}

.sec_3_title {
    margin-left: 0px;
    margin-bottom: 25px;
    padding-left: 0px;
}

/*section 4*/
.section_4 {
    display: flex;
    justify-content: center;
    gap: 150px;
    margin-top: 100px;
    margin-bottom: 150px;
}

.four_icon {
    width: 280px;
    height: 280;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 50px;
}

.icons {
    width: 46px;
    height: 46px;
    margin-bottom: 8px;
}

.icon_title {
    color: #424242;
    font-size: 45px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 8px;
}

.icon_dic {
    color: #727272;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
}

/*section 5*/
.sec_5_title {
    font-size: 45px;
}

.sec_5_dis {
    width: 540px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
}

/*section 6*/
.section6 {
    display: flex;
    justify-content: center;
    gap: 180px;
    margin-bottom: 150px;
}

.sec_6_img {
    width: 170px;
    height: 55px;
    mix-blend-mode: luminosity;
}

/*Footer*/
footer {
    width: 1600px;
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
}

.footer_dis {
    color: #424242;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    padding-top: 40px;

}